
/* General container styles */
.selectBox {
  position: relative;
  display: inline-block;
}

/* Input Wrapper */
.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-medium);
  border-radius: 25px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
  white-space: nowrap;
  border: 2px solid transparent;
}

.inputWrapper.noSelection {
  background-color: var(--secondary-color); /* White */
  color: var(--text-color); /* Black */
  border: 2px solid var(--text-color); /* Black */
}

.inputWrapper input {
  border: none;
  background-color: transparent;
  font-size: var(--font-size-large);
  color: inherit;
  outline: none;
  cursor: pointer;
  flex-grow: 1;
  min-width: 50px;
  max-width: 100%;
}

/* Arrow */
.arrow {
  font-size: var(--font-size-base);
  font-weight: bold;
  color: inherit;
  margin-left: var(--padding-small);
  transition: transform var(--transition-duration);
}

.open .arrow {
  transform: rotate(180deg);
}

/* Badge */
.countBadge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--badge-size);
  height: var(--badge-size);
  background-color: var(--secondary-color); /* White */
  color: var(--primary-color); /* Blue */
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 50%;
  margin-right: var(--padding-small);
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--secondary-color); /* White */
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-small);
}

/* Search Box */
.searchBoxContainer {
  padding: var(--padding-small) var(--padding-medium);
  margin-bottom: var(--padding-small);
}

.searchBoxContainer input {
  width: 100%;
  border-radius: 6px;
  padding: 12px 16px;
  min-height: 36px;
  font-size: var(--font-size-base);
  font-weight: 400;
}

/* Options Container */
.optionsContainer {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 300px;
  padding: 0;
}

.optionsContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.optionsContainer li {
  display: flex;
  align-items: center;
  padding: var(--padding-small) var(--padding-medium);
  cursor: pointer;
  transition: background-color var(--transition-duration);
  font-size: var(--font-size-base);
  font-weight: 500;
}

.optionsContainer li:hover {
  background-color: #f5f5f5;
}

.optionsContainer li input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: var(--padding-small);
}

/* Scrollbar */
.optionsContainer::-webkit-scrollbar {
  width: 8px;
}

.optionsContainer::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

.optionsContainer::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
